.ProfileLeft{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    overflow: auto;
}
@media (max-width:400px) {
    .ProfileLeft{
        /* margin-left: 5px; */
    }
}